{% extends "base.html" %}

{% block title %} Request reset password {% endblock title %}


{% block content %}
<h1>Request reset password</h1>
<form action="{% url "user_app:request_reset_password" %}" method="POST">
    {% csrf_token %}
    <input type="email" name="email" placeholder="email">
    <button>Request</button>
</form>
{% if email_sent %}
    <h3>An email with directions to reset your password has been sent to you!</h3>
{% endif %}

{% if message %}
    <p>{{ message }}</p>
{% endif %}

{% endblock content %}