{% extends "base.html" %}

{% block title %} Reset password {% endblock title %}


{% block content %}
<h1>Reset password</h1>
<form action="{{request.get_full_path}}" method="POST">
    {% csrf_token %}
    <input type="email" name="password-reset-email" placeholder="email">
    <input type="password" name="password-reset-password" placeholder="new password">
    <input type="password" name="password-reset-password-confirm" placeholder="confirm new password">
    <button>Change password</button>
</form>


{% if message %}
    <p>{{ message }}</p>
{% endif %}

{% endblock content %}