<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} <!--- title inserted from other template  --> {% endblock title %} </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'reddit_app:index' %}">Home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'reddit_app:profile' %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'user_app:logout' %}">Log out</a>
                        </li>
                    {% else %}
                    <li>
                        <a href="{% url 'user_app:login' %}">Log in</a>
                    </li>
                    <li>
                        <a href="{% url 'user_app:signup' %}">Sign up</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            <!-- Main content inserted here -->
            {% endblock content %}
        </main>
    </body>
</html>