{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<h1>Djeddit</h1>

{% if user.username %}
    <p>Welcome, {{user.username}}</p>
{% endif %}

{% if request.user.is_authenticated %}
<div>
    <h2>Create a new post</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="title">
        <textarea name="text" placeholder="write your post"></textarea>
        <button>Create post</button>
    </form>
    {% if error %} <p>{{error}}</p> {% endif %}
</div>
{% endif %}

<div id="posts">
    <h2>Posts</h2>
    {% if posts.count %}
        {% for post in posts %}
        <a href={% url 'reddit_app:single_post' post.id %}>
            <div class="post" style="border: 1px solid black; margin-bottom: 10px;">
                <h3>{{post.author}}: {{post.title}}</h3>
                <p>{{post.text}}</p>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <p>There are no posts</p>
    {% endif %}

</div>

{% load static %}
<script src="{% static "global/js/index.js" %}"></script>

{% endblock content %}