{% extends "base.html" %}

{% block title %} Notifications {% endblock title %}

{% block content %}
    <h1>Notifications</h1>
    <form method="POST" action="{% url 'reddit_app:notifications' %}">
        {% csrf_token %}
        <button>Mark all as read</button>
    </form>
    {% if notifications.count %}
        <div class="notifications">
        <h2>Unread notifications</h2>
            {% for notification in notifications %}
                    <div class="notification">
                        <a href="{% url 'reddit_app:single_post' notification.post_id %}">
                            <span>{{notification.date_sent}}</span>
                            <p>{{notification.sender}} has left a comment on your post "{{notification.post.title}}"</p>
                        </a>
                    </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>Unread notifications</h2>
        <p>No new notifications</p>
    {% endif %}
    {% if read_notifications.count %}
        <div class="notifications">
        <h2>Read notifications</h2>
            {% for read_notification in read_notifications %}
                    <div class="notification">
                        <a href="{% url 'reddit_app:single_post' read_notification.post_id %}">
                            <span>{{read_notification.date_sent}}</span>
                            <p>{{read_notification.sender}} has left a comment on your post "{{read_notification.post.title}}"</p>
                        </a>
                    </div>
            {% endfor %}
        </div>
    {% endif %}

  {% comment %}   <script>

    const wsScheme = window.location.protocol == "https:" ? "wss" : "ws"; // check if https page, if true, use secure websockets transport
    const wsURL = wsScheme + "://" + location.hostname + (location.port ? ":" + location.port : "") + "/ws/"; // web socket endpoint, same as in routing.py

    var socket = new WebSocket(wsURL + "notifications/") // Creating a new Web Socket Connection

    function displayNotifModalPopup(message) {
        alert(message);
    }

    // Socket On receive message Functionality
    socket.onmessage = function(e){
        console.log('heyo', e.data)
        const messageObj = JSON.parse(e.data)
        console.log(messageObj);

        if(messageObj.type == "Notification"){
            displayNotifModalPopup(messageObj.message);
        }
        // console.log(e.data) // Access the notification data
        //$("body").append("<h3>"+e.data+"</h3>")
        // Can write any functionality based on your requirement
    }

    // Socket Connet Functionality
    socket.onopen = function(e){
        console.log('open', e)
    }

    // Socket Error Functionality
    socket.onerror = function(e){
        console.log('error', e)
    }

    socket.onclose = function(e){
        console.log('closed', e)
    }

    </script> {% endcomment %}
    {% load static %}
    <script src="{% static "global/js/notification.js" %}"></script>
{% endblock content %}