{% extends "base.html" %}

{% block title %} Profile {% endblock title %}

<!-- Main page -->
{% block content %}
<h1>Profile</h1>
<div>
    <h2>Welcome, {{user.username}}.</h2>
    <p>This is a history of your posts.</p>
    <h3>Posts</h3>
    <div class="profile-posts">
        {% if posts.count %}
            {% for post in posts %}
                <div class="profile-post profile-post-{{post.id}}">
                    <a href={% url 'reddit_app:single_post' post.id %}>
                        <h3>{{post.title}}</h3>
                        <span>{{post.date_posted}}</span>
                        <span>Score: {{post.votes}}</span>
                        <p>{{post.text}}</p>
                        <a href="{% url "reddit_app:delete_post" post.id %}"><button>Delete post</button></a>
                        <button data-postid={{post.id}} class="show-update btn-{{post.id}}">Update post</button>
                    </a>
                    <div class="update-post-form post-{{post.id}}">
                        <form> 
                            <input type="text" name="title" value="{{post.title}}">
                            <textarea name="text">{{post.text}}</textarea>
                            <button data-postid={{post.id}} type="button" class="update-post">Update post</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>You do not have any posts yet.</p>
        {% endif %}
    </div>

{% if error_message %} <p>{{error_message}}</p> {% endif %}

{% load static %}
<script src="{% static 'global/js/cookie.js' %}"></script>
<script src="{% static "global/js/profile.js" %}"></script>
{% endblock content %}